.main-section__title,
.team-section__title,
.news-section__title {
    font-family: $font-title;
}

.main {

    &-section {
        position: relative;
    }

    &__logo {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 10px;
        @include for-tablet {
            width: 320px;
        }

        @include for-laptop {
            width: 380px;
        }
    }

    &-section__title {
        font-size: $font-size-large;
        margin-top: 50px;
    }

    &-section__paragraph {
        font-family: 'Arial', sans-serif;
    }
}

.team-section {
    display: flex;
    flex-wrap: wrap;

    &__title {
        color: $danger-color;
    }

    &__teams {
        width: 200px;
        height: 200px;
        border: 1px solid #000;
        margin-right: 2em;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        width: 160px;
        height: 160px;
        margin: 0;
    }

    &__logo {
        display: inline-block;
        margin-top: 15px;
        width: 120px;
        height: 120px;
    }

    &__name {
        font-family: $teams-font;
        font-size: 1.5em;
        color: $dark-color;
        display: inline-block;
        text-transform: uppercase;
        
    }

    &__link:hover &__name {
        color: $danger-color;
    }
}

.news-section {
    display: flex;
    flex-wrap: wrap;

    &__title {
        color: $danger-color;
    }

    &__news {
        width: 200px;
        height: 200px;
        border: 1px solid #000;
        margin-right: 2em;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        width: 160px;
        height: 160px;
        margin: 0;
    }

    &__img {
        display: inline-block;
        margin-top: 15px;
        width: 120px;
        height: 120px;
    }

    &__name {
        font-family: $teams-font;
        font-size: 1.5em;
        color: $dark-color;
        display: inline-block;
        text-transform: uppercase;
        
    }

    &__link:hover &__name {
        color: $danger-color;
        
    }
}


/*CARRUSEL*/
.main_carrusel{
    padding-top: 80px;
}

.carrusel-title{
    font-family: $font-title;
    margin-top: 50px;
    margin-left: 200px;
}

.carrusel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carrusel_container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    padding-left: 14%;
}

.carrusel-img{
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.carrusel-item{
    background-color: black;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-right: 100px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all ease;
    transform-origin: center left;
    position: relative;
}

.carrusel-subtitle{
    position: absolute;
    top: 0;
    font-size: 40px;
    font-family: 'Bebas Neue';
    color: transparent;
    padding: 20px;

}

.carrusel-text{
    position: absolute;
    top: 0;
    font-family: $font-footer;
    color: transparent;
    height: 50%;
    width: 300px;
    margin-left: 280px;
    margin-top: 340px;
}

.carrusel-item:hover~ .carrusel-item{
    transform: translate3d(100px,0,0);
}

.carrusel_container:hover .carrusel-item:hover{
    transform: scale(1.15);
}

.carrusel-item:hover > .carrusel-img{
    opacity: 0.5;
}   

.carrusel-item:hover > .carrusel-subtitle{
    color: $danger-color;
}

.carrusel-item:hover > .carrusel-text{
    color: white;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar{
    display: none;
    width: 8px;
    height: 4px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px; 
}
::-webkit-scrollbar:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active{
    background: #999;
}