/*CARRUSEL*/
.main_carrusel{
    padding-top: 80px;
}

.carrusel-title{
    font-family: $font-title;
    font-size: 60px;
    margin-top: 60px;
    margin-left: 250px;
    display:flex;
    position: absolute;
    color: white;
    z-index: 1;
}

.vd-wrapper{
    width: 100%;
    height: 385px;
    overflow: hidden;
    background-color: black;
}

.vd{
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

.vd-2{
    width: 100%;
    object-fit: cover;
    opacity: 50%;
    position: relative;
    bottom: 260px;
}

.carrusel{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrusel_container{
    white-space: nowrap;
    margin: 110px 0px;
    padding-bottom: 10px;
    padding-left: 16%;
    height: 650px;
    display: inline-flex;
}

.carrusel-item{
    display:block;
    width: 600px;
    height: 800px;
    margin-right: 100px;
    transition: 450ms all ease;
    transform-origin: center left;
    position: relative;
}

.carrusel-banner{
    background-color: black;
    width: 600px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.carrusel-img{
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.carrusel-subtitle{
    position: absolute;
    top: 0;
    font-size: 40px;
    font-family: 'Bebas Neue';
    color: transparent;
    padding: 20px;

}

.carrusel-text{
    position: absolute;
    top: 0;
    font-family: $font-footer;
    color: transparent;
    width: 300px;
    height: 400;
    padding-left: 280px;
    padding-top: 320px;
}

.carrusel-info{
    width: 600px;
    height: 400px;
    padding-top: 40px;
    overflow: hidden;
    font-size: 15px;
    font-family: $font-footer;
    text-align: center;
    line-height: 1.4em;
}

.btn-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-evenly;
}

.btn-1{
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background-color:$danger-color;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #0aecc4;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-2{
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background-color:$danger-color;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fa2aff;
    transition: ease-out 0.3s;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 200px 0 0 0 #0aecc4;
    cursor: pointer;
    color: black;
}

.btn-2:hover{
    box-shadow: inset 200px 0 0 0 #fa2aff;
    cursor: pointer;
    color: black;
}

.carrusel-item:hover~ .carrusel-item{
    transform: translate3d(100px,0,0);
}

.carrusel_container:hover .carrusel-item:hover{
    transform: scale(1.15);
}

.carrusel-item:hover > .carrusel-banner > .carrusel-img{
    opacity: 0.5;
}   

.carrusel-item:hover > .carrusel-banner > .carrusel-subtitle{
    color: $danger-color;
}

.carrusel-item:hover > .carrusel-banner > .carrusel-text{
    color: white;
}

::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar{
    display: none;
    width: 8px;
    height: 4px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px; 
}
::-webkit-scrollbar:hover{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active{
    background: #999;
}

